<p style="color: green"><%= notice %></p>

<%= render @post %>

<%= render "links_on_show_page", post: @post %>
<h4><%= pluralize(@post.comments.count,'Comments') %></h4>
<hr/>
<p>
    <%= render 'posts/comments', post: @post %>
</p>
<div class="form-group">
  <%= form_with(model: [@post, Comment]) do |form| %>
    <%= form.text_area :body, placeholder: "Enter your comment", class: "form-control" %>
    <%= form.submit "Comment", class: "btn btn-outline-primary my-2" %>
  <% end %>
